USE [HealthcareManagement]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 18-11-2025 10:46:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentId] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](100) NOT NULL,
	[HospitalName] [nvarchar](150) NOT NULL,
	[IsActive] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoctorRegistrations]    Script Date: 18-11-2025 10:46:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorRegistrations](
	[RegistrationId] [int] IDENTITY(1,1) NOT NULL,
	[LicenseNumber] [varchar](20) NOT NULL,
	[IssueDate] [date] NOT NULL,
	[ExpiryDate] [date] NOT NULL,
	[ContactNumber] [varchar](10) NOT NULL,
	[NetworkId] [int] NOT NULL,
	[HospitalId] [int] NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[DoctorId] [int] NOT NULL,
	[IsActive] [varchar](5) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RegistrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[LicenseNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 18-11-2025 10:46:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[DoctorId] [int] IDENTITY(1,1) NOT NULL,
	[DoctorName] [nvarchar](100) NULL,
	[HospitalId] [int] NULL,
	[IsActive] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[DoctorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HospitalNetwork]    Script Date: 18-11-2025 10:46:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HospitalNetwork](
	[HospitalNetworkId] [int] IDENTITY(1,1) NOT NULL,
	[HospitalNetworkName] [nvarchar](100) NOT NULL,
	[IsActive] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HospitalNetworkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hospitals]    Script Date: 18-11-2025 10:46:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hospitals](
	[HospitalId] [int] IDENTITY(1,1) NOT NULL,
	[HospitalName] [nvarchar](150) NOT NULL,
	[NetworkId] [int] NOT NULL,
	[IsActive] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HospitalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT ('Y') FOR [IsActive]
GO
ALTER TABLE [dbo].[DoctorRegistrations] ADD  DEFAULT ('Y') FOR [IsActive]
GO
ALTER TABLE [dbo].[DoctorRegistrations] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[HospitalNetwork] ADD  DEFAULT ('Y') FOR [IsActive]
GO
ALTER TABLE [dbo].[Hospitals] ADD  DEFAULT ('Y') FOR [IsActive]
GO
ALTER TABLE [dbo].[DoctorRegistrations]  WITH CHECK ADD  CONSTRAINT [FK_DoctorRegistrations_Department] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([DepartmentId])
GO
ALTER TABLE [dbo].[DoctorRegistrations] CHECK CONSTRAINT [FK_DoctorRegistrations_Department]
GO
ALTER TABLE [dbo].[DoctorRegistrations]  WITH CHECK ADD  CONSTRAINT [FK_DoctorRegistrations_Doctor] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctors] ([DoctorId])
GO
ALTER TABLE [dbo].[DoctorRegistrations] CHECK CONSTRAINT [FK_DoctorRegistrations_Doctor]
GO
ALTER TABLE [dbo].[DoctorRegistrations]  WITH CHECK ADD  CONSTRAINT [FK_DoctorRegistrations_Hospital] FOREIGN KEY([HospitalId])
REFERENCES [dbo].[Hospitals] ([HospitalId])
GO
ALTER TABLE [dbo].[DoctorRegistrations] CHECK CONSTRAINT [FK_DoctorRegistrations_Hospital]
GO
ALTER TABLE [dbo].[DoctorRegistrations]  WITH CHECK ADD  CONSTRAINT [FK_DoctorRegistrations_Network] FOREIGN KEY([NetworkId])
REFERENCES [dbo].[HospitalNetwork] ([HospitalNetworkId])
GO
ALTER TABLE [dbo].[DoctorRegistrations] CHECK CONSTRAINT [FK_DoctorRegistrations_Network]
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD FOREIGN KEY([HospitalId])
REFERENCES [dbo].[Hospitals] ([HospitalId])
GO
ALTER TABLE [dbo].[Hospitals]  WITH CHECK ADD  CONSTRAINT [FK_Hospitals_HospitalNetwork] FOREIGN KEY([NetworkId])
REFERENCES [dbo].[HospitalNetwork] ([HospitalNetworkId])
GO
ALTER TABLE [dbo].[Hospitals] CHECK CONSTRAINT [FK_Hospitals_HospitalNetwork]
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteDoctorRegistration]    Script Date: 18-11-2025 10:46:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_DeleteDoctorRegistration]
@RegistrationId INT


AS
BEGIN
	UPDATE DoctorRegistrations
	SET IsActive = 'N', ModifiedDate = GETDATE()
	where RegistrationId = @RegistrationId
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllDoctorRegistrations]    Script Date: 18-11-2025 10:46:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_GetAllDoctorRegistrations]
	
AS
BEGIN
	select 
	DR.RegistrationId,
        DR.LicenseNumber,
        DR.IssueDate,
        DR.ExpiryDate,
        HN.HospitalNetworkName AS NetworkName,
        H.HospitalName,
        DPT.DepartmentName,
        DOC.DoctorName,
        DR.IsActive
    from DoctorRegistrations DR
    JOIN HospitalNetwork HN ON DR.NetworkId = HN.HospitalNetworkId
    JOIN Hospitals H on DR.HospitalId = H.HospitalId
    JOIN Departments DPT on DR.DepartmentId = DPT.DepartmentId
    JOIN Doctors DOC on DR.DoctorId = DOC.DoctorId
    where DR.IsActive = 'Y'
    ORDER BY DR.RegistrationId DESC;
	

END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllNetworks]    Script Date: 18-11-2025 10:46:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_GetAllNetworks] 
	
AS
BEGIN
	
	SELECT HospitalNetworkName from HospitalNetwork
	where IsActive = 'Y'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetDepartmentsByHospital]    Script Date: 18-11-2025 10:46:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_GetDepartmentsByHospital]
    @HospitalId INT
AS
BEGIN
    SELECT 
        d.DepartmentId,
        d.DepartmentName,
        h.HospitalId,
        h.HospitalName
    FROM Departments d
    INNER JOIN Hospitals h
        ON d.HospitalName = h.HospitalName
    WHERE h.HospitalId = @HospitalId
      AND d.IsActive = 'Y';
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetDoctorById]    Script Date: 18-11-2025 10:46:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_GetDoctorById]
    @RegistrationId INT
AS
BEGIN
    SELECT 
        RegistrationId,
        LicenseNumber,
        IssueDate,
        ExpiryDate,
        ContactNumber,
        NetworkId,
        HospitalId,
        DepartmentId,
        DoctorId,
        IsActive
    FROM DoctorRegistrations
    WHERE RegistrationId = @RegistrationId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDoctorsByDepartment]    Script Date: 18-11-2025 10:46:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetDoctorsByDepartment]
    @DepartmentId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        d.DoctorId,
        d.DoctorName,
        h.HospitalId,
        h.HospitalName,
        dept.DepartmentId,
        dept.DepartmentName
    FROM Doctors d
    INNER JOIN Hospitals h 
        ON d.HospitalId = h.HospitalId
    INNER JOIN Departments dept
        ON dept.HospitalName = h.HospitalName
    WHERE dept.DepartmentId = @DepartmentId
      AND d.IsActive = 'Y'
      AND dept.IsActive = 'Y';
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetDoctorsByHospital]    Script Date: 18-11-2025 10:46:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_GetDoctorsByHospital]
	@HospitalId INT
AS
BEGIN
	
	SET NOCOUNT ON;

	SELECT DoctorId, DoctorName from Doctors
	where HospitalId = @HospitalId and IsActive = 'Y'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetHospitalsByNetwork]    Script Date: 18-11-2025 10:46:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_GetHospitalsByNetwork] 
	@NetworkId INT
AS
BEGIN
	SELECT HospitalId,HospitalName 
	from Hospitals
	where NetworkId = @NetworkId and IsActive = 'Y';
END
GO
/****** Object:  StoredProcedure [dbo].[Sp_GetMasterData]    Script Date: 18-11-2025 10:46:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Sp_GetMasterData]

	@Mode VARCHAR(50),
	@RegistrationId int = null,
	@NetworkId int = null,
	@HospitalId int = null,
	@DepartmentId int = null
AS
BEGIN
	SET NOCOUNT ON;

	 IF(@Mode = 'DoctorById')
	 begin
	 SELECT 
            RegistrationId,
            LicenseNumber,
            IssueDate,
            ExpiryDate,
            ContactNumber,
            NetworkId,
            HospitalId,
            DepartmentId,
            DoctorId,
            IsActive
        FROM DoctorRegistrations
        WHERE RegistrationId = @RegistrationId;

        RETURN;
        END

        IF(@Mode = 'Networks')
        BEGIN
        SELECT
        HospitalNetworkId,
        HospitalNetworkName
        from HospitalNetwork
        where
            IsActive = 'Y';
        return;
        END

        IF(@Mode = 'HospitalsByNetwork')
        BEGIN
        SELECT
        HospitalId,
        HospitalName
        from Hospitals
        where
        NetworkId = @NetworkId
        and
        IsActive = 'Y';
        return;
        END

        IF(@Mode = 'DepartmentsByHospitals')
        BEGIN
        SELECT
        d.DepartmentId,
        d.DepartmentName,
        h.HospitalId,
        h.HospitalName
        from Departments d
        inner join Hospitals h
        on h.HospitalName = d.HospitalName
        where
            h.HospitalId = @HospitalId
            and d.IsActive = 'Y';
            return;
        END
            
 IF(@Mode = 'DoctorsByDepartment')
    BEGIN
        SELECT 
            d.DoctorId,
            d.DoctorName,
            h.HospitalId,
            h.HospitalName,
            dept.DepartmentId,
            dept.DepartmentName
        FROM Doctors d
        INNER JOIN Hospitals h 
            ON d.HospitalId = h.HospitalId
        INNER JOIN Departments dept
            ON dept.HospitalName = h.HospitalName
        WHERE dept.DepartmentId = @DepartmentId
          AND d.IsActive = 'Y'
          AND dept.IsActive = 'Y';
        RETURN;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetNetworks]    Script Date: 18-11-2025 10:46:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_GetNetworks]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        HospitalNetworkId as NetworkId,
        HospitalNetworkName
    FROM HospitalNetwork
    WHERE IsActive = 'Y';  
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertDoctorRegistration]    Script Date: 18-11-2025 10:46:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_InsertDoctorRegistration]
  @LicenseNumber VARCHAR(20),
  @IssueDate DATE,
  @ExpiryDate DATE,
  @ContactNumber VARCHAR(10),
  @NetworkId INT,
  @HospitalId INT,
  @DepartmentId INT,
  @DoctorId INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Check if License exists
    IF EXISTS (SELECT 1 FROM DoctorRegistrations WHERE LicenseNumber = @LicenseNumber)
    BEGIN
        SELECT 
            'ERROR' AS Status,
            'License number already exists' AS Message;
        RETURN;
    END

    -- Insert
    INSERT INTO DoctorRegistrations
    (LicenseNumber, IssueDate, ExpiryDate, ContactNumber, NetworkId, HospitalId, DepartmentId, DoctorId, IsActive)
    VALUES
    (@LicenseNumber, @IssueDate, @ExpiryDate, @ContactNumber, @NetworkId, @HospitalId, @DepartmentId, @DoctorId, 'Y');

    -- Return success with inserted record
    SELECT 
        'SUCCESS' AS Status,
        'Doctor entry added successfully' AS Message,
        LicenseNumber,
        IssueDate,
        ExpiryDate,
        ContactNumber,
        NetworkId,
        HospitalId,
        DepartmentId,
        DoctorId,
        IsActive
    FROM DoctorRegistrations
    WHERE LicenseNumber = @LicenseNumber;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SearchDoctorRegistrations]    Script Date: 18-11-2025 10:46:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_SearchDoctorRegistrations]
	@SearchTerm VARCHAR(100)
AS
BEGIN
	
	SELECT 
        DR.RegistrationId,
        DR.LicenseNumber,
        DR.IssueDate,
        DR.ExpiryDate,
        DR.ContactNumber,
        HN.HospitalNetworkName AS NetworkName,
        H.HospitalName,
        DPT.DepartmentName,
        DOC.DoctorName

        from DoctorRegistrations DR
    JOIN HospitalNetwork HN ON DR.NetworkId = HN.HospitalNetworkId
    JOIN Hospitals H ON DR.HospitalId = H.HospitalId
    JOIN Departments DPT ON DR.DepartmentId = DPT.DepartmentId
    JOIN Doctors DOC ON DR.DoctorId = DOC.DoctorId
    where DR.IsActive = 'Y'
    AND(
    
    DR.LicenseNumber LIKE '%' + @SearchTerm + '%'
    or Hn.HospitalNetworkName LIKE '%' + @SearchTerm + '%'
    or H.HospitalName LIKE '%' + @SearchTerm + '%'
    or DPT.DepartmentName LIKE '%' + @SearchTerm + '%'
    or DOC.DoctorName LIKE '%' + @SearchTerm + '%'
    
    )
    order by DR.RegistrationId DESC;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateDoctorRegistration]    Script Date: 18-11-2025 10:46:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_UpdateDoctorRegistration]
    @RegistrationId INT,
    @LicenseNumber VARCHAR(20),
    @IssueDate DATE,
    @ExpiryDate DATE,
    @ContactNumber VARCHAR(10),
    @NetworkId INT,
    @HospitalId INT,
    @DepartmentId INT,
    @DoctorId INT
AS
BEGIN
    UPDATE DoctorRegistrations
    SET LicenseNumber = @LicenseNumber,
        IssueDate = @IssueDate,
        ExpiryDate = @ExpiryDate,
        ContactNumber = @ContactNumber,
        NetworkId = @NetworkId,
        HospitalId = @HospitalId,
        DepartmentId = @DepartmentId,
        DoctorId = @DoctorId,
        ModifiedDate = GETDATE()
    WHERE RegistrationId = @RegistrationId;

    -- Return updated row
    SELECT 
        'SUCCESS' AS Status,
        'Doctor entry updated successfully' AS Message,
        RegistrationId,
        LicenseNumber,
        IssueDate,
        ExpiryDate,
        ContactNumber,
        NetworkId,
        HospitalId,
        DepartmentId,
        DoctorId,
        IsActive,
        ModifiedDate
    FROM DoctorRegistrations
    WHERE RegistrationId = @RegistrationId;
END

GO
