
<div class="container mt-4">
  <h2>Doctor Entries</h2>

<div>

  <input type="text" [(ngModel)]="searchTerm" placeholder="Search doctor.." name="searchBox" class="form-control" style="width:250px; display: inline-block; ">

 <button class="btn btn-primary" (click)="searchDoctors()" style="margin-left: 5px;">
      Search
    </button>

    <button class="btn btn-secondary" (click)="resetSearch()" style="margin-left: 5px;">
      Reset
    </button>
</div>


<div class="d-flex justify-content-between mb-3">
  <h2>Doctor List</h2>

  <button class="btn btn-primary" (click)="goToAddForm()">
    Add Registration
  </button>
</div>

  <table class="table table-bordered mt-3" border="1px">
    <thead>
      <tr>
        <th>Reg ID</th>
        <th>License No</th>
        <th>Doctor Name</th>
        <th>Department</th>
        <th>Hospital</th>
        <th>Network</th>
        <th>Issue</th>
        <th>Expiry</th>
        <th>Active</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let d of doctorList">
        <td>{{ d.registrationId }}</td>
        <td>{{ d.licenseNumber }}</td>
        <td>{{ d.doctorName }}</td>
        <td>{{ d.departmentName }}</td>
        <td>{{ d.hospitalName }}</td>
        <td>{{ d.networkName }}</td>
        <td>{{ d.issueDate | date }}</td>
        <td>{{ d.expiryDate | date }}</td>
        <td>{{ d.isActive }}</td>
        <td>

           
          <button class="btn btn-sm btn-success" (click)="editDoctor(d.registrationId)">Edit</button>
          <button class="btn btn-sm btn-danger" (click)="deleteDoctor(d.registrationId)">Delete</button>
        
        </td>
      </tr>
    </tbody>
  </table>
</div>

